<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- <packageSources> -->
    <!--     <add key="local-packages1" value="/Users/varkeychanjacob/Projects/opentelemetry-dotnet/src/OpenTelemetry.Instrumentation.Http/bin/Release" /> -->
    <!--     <add key="local-packages2" value="/Users/varkeychanjacob/Projects/opentelemetry-dotnet/src/OpenTelemetry.Exporter.Console/bin/Release" /> -->
    <!-- </packageSources> -->
</configuration>